<div id="main" class="container">
    <div id="sub" class="row">

        <div id="sub" class="col align-self-center">
            <img id="logo" src="./images/logo.jpg" class="img-fluid" />
            <h5 id="heading">Sign-in to continue</h5>
            <div id="username" class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="demo@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </div>
</div>