#main {
    border: 1px solid black;
    width: 300px;
    box-shadow: black 0 0 30px;
    padding: 20px;
}

#sub{
    margin-top: auto;
    padding: 10px;
}

#logo {
  align-content: center;
}

#heading {
    text-align: center;
}
